#! --- IGNORE --- !#

# Dependances folder (run 'npm install' to restore them)
/backend/node_modules
/frontend/node_modules
/node_modules/

# User specific files/folders:
*.ressources/

# Fichiers sensibles
*.env
*.env.local